.dt {
    display: table;
}

.dtc {
    display: table-cell;
}

.fw6 {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif; 
    font-weight: 550;
    font-weight: 600;
    color: #531516;
}

.vh-100 {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.white {
    color: #fff;
}

.bg-dark-gray {
    background-color: #1b222c;
}

.bg-dark-red {
    background-color: #661b1c;
}

.bg-dark-pink {
    background-color: #d5008f;
}

.ph0 {
    padding-left: 0rem;
    padding-right: 0rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.tc {
    text-align: center;
}

.f6 {
    font-size: .875rem;
}

.v-mid {
    vertical-align: middle;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .f2-m {
        font-size: 2.25rem;
    }
}

@media screen and (min-width: 60em) {
    .ph4-l {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .f-subheadline-l {
        font-size: 5rem;
    }
}
